<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-router-outlet id="main-content"
      ><ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="folder/">
            <ion-icon name="home-outline"></ion-icon>
            Home
          </ion-tab-button>
          <ion-tab-button tab="desejo">
            <ion-icon name="bookmark-outline"></ion-icon>
            Lista de Desejos
          </ion-tab-button>
          <ion-tab-button tab="cart">
            <ion-icon name="cash-outline"></ion-icon>
            Comprados
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs></ion-router-outlet
    >
  </ion-split-pane>
</ion-app>
